*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: gray;
}


.page {
    width: 900px;
    height: 700px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

}
#menu {
    width: 900px;
    height: 100px;
    background-color: rgb(41, 40, 40);
}
#article {
    background-color: rgb(189, 184, 184);
    width: 900px;
    height: 600px;
    text-align: center;
    font-size: 50px;
}
ul {
    list-style-type: none;
}
li {
    float: left;
}
a {
    margin-left: 20px;
    margin-top: 40px;
    display: block;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 20px;
    text-decoration: none;
    color: white;
}
a:hover{
    color: rgb(55, 128, 150);
}
.num-page{
    width: 900px;
    height: 600px;
    padding-top: 50px;
    text-align: center;
    font-size: 50px;
}