*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: gray;
}


.page {
    width: 900px;
    height: 700px;

}
#menu {
    width: 900px;
    height: 100px;
    background-color: rgb(41, 40, 40);
}
#article {
    background-color: rgb(189, 184, 184);
    width: 900px;
    height: 600px;
}
ul {
    list-style-type: none;
}
li {
    float: left;
}
a {
    display: block;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 20px;
    text-decoration: none;
    color: white;
}