
@font-face {

    font-family: 'PROMETHEUS';
    src: url('PROMETHEUS.ttf');

}

*{
    box-sizing: border-box;
}
body {
    background-image: url("space.jpg");
    background-size: cover;

}
p{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;

}



.container-page {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 1px dotted black;
    width: 200px;
    height: 200px;
    text-align: center;
}
.txt{
    width: 70px;
}
.reponse {
    width: 200px;
    height: 50px;
}
#formu {
    transition: 0.25s;
    visibility: hidden;
    opacity: 0;

}



.titre {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    height: 150px;
    padding-left: 150px;



}

.titre p {
    text-align: center;
    display: inline;
    font-family: PROMETHEUS;

    
}

#chrono {
    font-size: 100px;
    color: white;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px rgba(0, 162, 255), 0 0 70px rgba(0, 162, 255), 0 0 80px rgba(0, 162, 255), 0 0 100px rgba(0, 162, 255), 0 0 150px rgba(0, 162, 255);
}
.titre-style {
    font-size: 72px;
    color: rgb(121, 175, 179);
    text-shadow: 0px 1px 10px rgba(121, 155, 163, 0.75);
}

.cont-story {
    padding: 20px;
}
.txt-story {
    font-size: 20px;
    font-family: 'Cabin', sans-serif;
}



.page{
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    height: 600px;
    /* border: 1px solid red; */
}

.robot {
    padding-top: 33px;
    width: 380px;
    height: 600px;
    background-image: url(robotmini.png);
    background-size: cover;
    background-color: rgba(0, 162, 255, 0.700);
}
.regles {

    width: 800px;
    height: 600px;
    /* border: 1px solid rgb(9, 255, 0); */
    background-color: rgba(0, 162, 255, 0.700);
}